.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-box {
  background: white;
  padding: 30px;
  border-radius: 18px;
  width: 420px;
  text-align: center;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
}

.modal-box h2 {
  margin-bottom: 12px;
  font-size: 26px;
}

.modal-box p {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 500;
}

.close-button {
  background: #00bfa5;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  transition: 0.3s;
}

.close-button:hover {
  background: #029985;
}
