/* Caja blanca principal */
.historial-box {
  background: white;
  width: 90%;
  margin-top: 100px;
  max-width: 900px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
  height: 330px;
  justify-content: center;
}

/* Header */
.historial-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.header-text h1 {
  margin: 0;
  font-size: 1.8rem;
}

.header-text h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #555;
}

/* Main */
.historial-main {
  text-align: center;
}

/* Zona scrollable */
.diagnosis-scroll-area {
  height: 250px;      /* ACTIVADOR DEL SCROLL */
  overflow-y: auto;
  padding-right: 12px;
}

/* Grid */
.diagnosis-grid {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

/* Tarjeta diagnóstico */
.diagnosis-card {
  width: 85%;
  max-width: 480px;
  background: rgb(206, 233, 222);
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

/* Imagen ECG */
.ecg-image {
  width: 150px;
  height: 90px;
  max-width: 260px;
  border-radius: 8px;
  margin: 15px auto 0 auto;
  display: block;
  cursor: pointer;
}

.no-image {
  margin-top: 10px;
  font-style: italic;
  color: #777;
}

.result {
  text-align: left;
  margin-top: 10px;
}

/* Botón volver */
.modal-btn3.cancel {
  margin-top: 25px;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #00bfa5;
  color: white;
  border: none;
  cursor: pointer;
}

.modal-btn3.cancel:hover {
  background-color: #009f8e;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-container {
  max-width: 90%;
  max-height: 90%;
}

.modal-image {
  width: 60vw;   /* ancho más chico */
  height: auto;
  max-height: 80vh;
  border-radius: 10px;
}

.ecg-image {
  cursor: pointer;
  transition: transform 0.2s;
}

.ecg-image:hover {
  transform: scale(1.03);
}
