.perfil-container {
  width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.perfil-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.perfil-icon i {
  font-size: 50px;
  color: #00bfa5;
}

.modal-btn2 {
  width: 250px;
  justify-content: center;
  padding: 12px;
  margin-top: 5px;
  border: none;
  border-radius: 40px;
  background-color: #00bfa5;
  color: white;
  font-size: 16px;
  cursor: pointer;position: relative;      /* o fixed si querés que quede siempre visible */
  left: 50%;               /* mueve el borde izquierdo al 50% del ancho de la pantalla */
  transform: translateX(-50%); /* mueve el botón hacia atrás la mitad de su propio ancho */
  margin-top: 20px;        /* espacio arriba */
}

.modal-btn2.cancel {
  background-color: #00897b;
}

.modal-btn2:hover {
  opacity: 0.9;
}

.perfil-info p {
  font-size: 18px;
  margin: 10px 0;
}

.perfil-actions {
  margin-top: 30px;
}

.logout-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #ff4d4f;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-btn i {
  margin-right: 8px;
}

.logout-btn:hover {
  background-color: #d43f3f;
}
